#Loader{
    position: fixed;
    border: 0;
    background-color: black;
    border: solid;
    border-color: black;
    width: 100%;
  }
  #Loader-TXT{
    font-family: 'Press Start 2P';
    position: fixed;
    color: white;
    left: 40%;
    right: 40%;
    top: 50%;
    animation: swinging;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
body{
    margin: 0px;
    font-family: 'Press Start 2P';
    background: linear-gradient(blue,skyblue,green);
    background-attachment: fixed;
}
button{
    font-family: 'Press Start 2P';
}