body{
  background: linear-gradient(skyblue,skyblue,skyblue,skyblue,skyblue,lightblue,blue,blue,darkturquoise,gold,green,green,green);
  background-attachment: fixed;
  color: #ffffff;
  width: 100%;
  height: auto;
  }
  .a{
  padding:1%
  }
  .text{
    border-style: outset;
    width: 100%;
    border-color:lightgreen green;
  }
  #end{
    margin-top:20%;
  }
  #console{
    color: darkblue;
  }
  #coint{
      width: 10%;
      height: 10%;
  }
  #coinh{
      width: 10%;
      height: 10%;
  }
  #math_box{
    border-style: outset;
    background: linear-gradient(cyan,red);
    width: 100%;
    height: auto;
  }
input{
   background: linear-gradient(to left,
cyan,skyblue,cyan,skyblue,cyan,skyblue,cyan);
}
