body{
  background: linear-gradient(skyblue,skyblue,skyblue,skyblue,skyblue,lightblue,blue,blue,darkturquoise,gold,green,green,green);
  background-attachment: fixed;
  }
  .a{
  padding: 1%
  }
  .text{
    border-style: outset;
    width: 100%;
    border-color:lightgreen green;
  }
  #console{
    background: linear-gradient(to top,cyan,skyblue,cyan,skyblue,cyan,skyblue,cyan);
    width:88%;
    border: solid;
    border-color:black;
}
#cons_shell{
  width:97%;
  border-style: inset;
  border-color:black;
  background-color: tan; 
}
#title{
  width:25%;
  color:black;
  border: solid;
  border-color: #3C3C3C;
}
#coint{
  width: 10%;
  height: 10%;
}
#coinh{
  width: 10%;
  height: 10%;
}
#math_box{
  border-style: outset;
  background: linear-gradient(cyan,red);
}
table{
  color: white;
}