body{
    margin: 0px;
    font-family: 'Press Start 2P';
    background: linear-gradient(cyan,#7CFC00);
    background-attachment: fixed;
}
#Title{
    text-shadow: -5px 5px lightgray;
    border: dotted;
    border-color: yellow;
    padding: 1%;
}
#option{
    left:25%;
    width: 50%;
}
#Loader{
    position: fixed;
    border: 0;
    background-color: black;
    border: solid;
    border-color: black;
    width: 100%;
  }
  #Loader-TXT{
    font-family: 'Press Start 2P';
    position: fixed;
    color: white;
    left: 40%;
    right: 40%;
    top: 50%;
    animation: swinging;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }