@font-face {
  font-family:'Press Start 2P';
  src: url("PressStart2P-Regular.ttf") format("truetype");
}
#Loader{
    position: fixed;
    border: 0;
    background-color: black;
    border: solid;
    border-color: black;
    width: 100%;
  }
  #Loader-TXT{
    font-family: 'Press Start 2P';
    position: fixed;
    color: white;
    left: 40%;
    right: 40%;
    top: 50%;
    animation: swinging;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
body{
  background-color: black;
  color:white;
  font-family: 'Press Start 2P';
  font-size: 200%;
}
button{
    font-family: 'Press Start 2P';
}